@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(90deg, #e2e2e2, #ec9dec);
}
.container{
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    /* overflow: hidden; */
}
.form-box{
    position: absolute;right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: 0.6s ease-in-out 1.2s ;
}

.container.active .form-box{
    right: 50%;
}
.form-box.register{
   visibility: hidden;
}
.form{
    width: 100%;
}
.container h1{
    font-size: 36px;
    margin-bottom: -10px 0;
}
.input-box{
    position: relative;
    margin: 30px 0;
    
}
.input-box input{
    width: 100%;
    padding: 13px 50px 13px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    background:#e2e2e2;
    color:#333;
    font-weight: 500;
}
.input-box input::placeholder{
    color: #888;
    font-weight: 400;
}
.input-box i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #888;
font-size: 20px;
}
.forgot-link{
    margin-top: -15px 0 15px;
   
}
.forgot-link a{
    color: #333;
    text-decoration: none;
    font-weight: 14.5px;
}
.forgot-link a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background: #7494ec;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.btn:hover{
    background: #5a78d6;
}
.container p{
    margin-top: 15px 0;
    font-size: 14.5px;
    
}
.social-icons{
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 8px;
    text-decoration: none;
}
.toggle-box{
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #7494ec;
    color: #fff; */
    transition: 0.5s;
}
.toggle-box::before{
    content: '';
    position: absolute;
    left: -250px;
    width: 300%;
    height: 100%;
    /* background: linear-gradient(90deg, #7494ec); */
    /* clip-path: circle(150px at right 80%); */
    border: 2px solid red;
    transition: 0.5s;
    z-index: 2;
    border-radius: 150px;
    transition: 1.8s ease-in-out;
}

.container.active .toggle-box::before{
    left: 50%;
}
.toggle-penel{
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    color: #fff;
    transition: 0.5s;
    z-index: 2;
transition-delay: .6s;
}
.container.active .toggle-left{
    left: 0;
    transition-delay: 1.2s;
}
.container.active .toggle-penel .toggle-left{
    left: -50%;
    transition-delay: .6s;
}


.toggle-penel .togglr-right{

    right: -50%;
    transition-delay: 0.6s; 
}
.container.active .toggle-penel .toggle-right{
    right: 0;
    transition-delay: 1.2s;
}
.toggle-penel p{
    
    margin-bottom: 20px;
}

.toggle-penel .btn{
    background: seagreen;
    width: 160px;
    height: 46px;
    border: 2px solid #fff;
    box-shadow: none;


}